body {

    font-family: 'roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0px;
    background-color: ivory;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;


}

.container{
   /* background-image: url(../images/roll2.png);*/
     background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
    position: relative;

    
}

.footer{

    width: 100%;
    color: white;
    margin: 0;
    padding-top: 30px;
   background: seagreen;
   border-top: 5px solid ivory;
   position: absolute;


}
.carousel{
    margin-top: 30px;
    margin-bottom: 0;

}


.home-img{

    position: relative;
    width: 100%;
    overflow: hidden;
    height: 70%;
    margin-left: -6px;
}
.footer p{
    padding: 5px;
    font-size: 15px;
}
.footest p{
    padding: 80px;
    font-size: 12px;
}

.movies{
   
    height: 600px;
    width: 1245px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    
}

.movie-list{
    height: 100%;
    width: 100%;
    background-color: green;


    
}

.clear
{
    float:left;
    clear:both;
        margin-left: 255px;


}

a{
    transition:all 0.5s ease;
}

.movie-categories{
width: 230px;
    height: 100%;
    float: right;
    padding: 20px;
    padding-bottom: 50px;
    text-align: left;
    color: white;
     position: absolute;
    opacity: 0.9;
    margin-left: 10px;
    margin-top: 47px;
    /* margin-bottom: 0px; */
    background-color: black;
    clear: left;

    
}

.activity-content{
    float: right;
    clear: both;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -160px;
}

.movie-categories a{
    color: ivory;
    position: relative;


}
.movie-categories a:hover{
    color: red;


}


.movie-post{
   
    width:1100px;
    height: auto;
    float: left;
    margin-left: 240px;
}


.user-table
{
    width: auto;
    height: auto;
    float: left;
    margin-left: 97px;
    margin-top: 50px;
}


.crimson-logo{
    height: 85px;
    width: 250px;



}

.movie-poster{
    height: 400px;
    width: 250px;
    margin: 5px;

}



#images{
    width: 100%;
    height: 550px;
}



.login-container{
    height: auto;
    width: 400px;
    padding: 20px;
    opacity: 0.9;
    background: grey;
 
    
}

.login-wrap{

    height: 100% !important;
    padding-top: 100px;
    padding-left: 450px;
    padding-bottom: 100px;
    background-image: url(../images/roll1.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    margin-top:80px;
 



}

.signup-wrap{

    background-image: url(../images/roll1.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    margin-top:75px;
    padding-top:10px;
    padding-bottom:20px;
 



}

.form-box{
    margin-left:500px;
    background-color:#B40404;
    height: 100px;
    width: 400px;
    color: white;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.signin-box{
    background-color:#B40404;
    height: 100px;
    width: 400px;
    color: white;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.signup-container{
    height: auto;
    width: 400px;
    margin-left: 500px;
    padding: 20px;
    opacity: 0.9;
    background: grey;
    margin-top: 0;
 
    
}

.form-group{
    width: 450px;
    margin-left: 30px;
    height: 30px;
}
.form-group a {
    float: center;
    color: white;
    padding-left: 40px;
}
.form-group a:hover {
    
    color: red;
    
}
.col-sm-offset-2{
    padding-left: 40px;
    margin: 0px;

}

textarea{
    margin-top: 5px;

}

.file{
    color: white;

}
.sidebar{
    width: 300px;
    font-size: 12px;
    margin-left: 1050px;


}


.cart-table{
    padding: 10px;
    margin: 10px;
}




#desc_box{
    position: absolute;
    padding: 10px;
    border: 1px solid #045FB4;
    background: #BDBDBD;
    color: black;
    border-radius: 10px;
    width: 280px;
    font-size: 12px;

   

    
}

#pointer{
    margin-top: 50px;
    position: absolute;
    border-left: 1px solid #045FB4;
    border-top:1px solid #045FB4;
    height: 10px;
    width: 10px;
   -webkit-transform: rotateZ(-45deg);
    left: -6px;
    background: #BDBDBD;

}

.movie-info{
    height: auto;
    color: black;
    margin-top:100px;


}
.poster{
    width: 350px;
    height: 500px;
    color: white;
    padding: 10px;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;

  
}

#movie-info-poster{
    margin-bottom: 10px;
    height:400px;
    width:300px;

}

 
.body-movie{
    color: black;
    height: 500px;
    margin-bottom: 10px;
    margin-left:50px;
    padding: 30px;
    font-size: 12px;
    color: black;
}
.body-movie1{
    width: 400px;
    height: 600px;
    color: black;
    /* padding: 10px; */
    margin-top: 24px;
    float: left;



}

.body-movie2{
    width: 570px;
    height: auto;
    color: black;
    margin-left: 750px;
    padding: 20px;
    font-size: 15px;



}
.movie-image{
    margin: 10px;
    width:200px;
    height: 300px;
    
}
.btn-cart{
    margin-left: 135px;
    background: #FA5858;
    color: white;
    border: 1px solid black;
}




.movie-list{
    height: auto;
    width: 100%;


    
}
.movie-list2{
    height: auto;
    width: 900px;


    
}

.movie-list table{
    width: 100%;
}

.movie-list table th{
    padding: 8px 5px;
    border: 1px ;
    text-align: center;
}



.movie-list table{
    background: #FA5858;
    border: 2px solid #FA5858;
    border-collapse: collapse;
}

.movie-list table td{
    padding: 5px 20px;
    border: 1px solid #FA5858;
    background-color: khaki;


}
.icon{
    height: 35px;
    width:35px;
    margin-left: 20px;
    
}
.icon:hover{
    opacity: 0.7 ;
}
.icons{
    height:30px;
    width: 30px;


}

#payments{
    color: black;
}

.row{

    
    background: orange;
    border: 5px solid blue;
    padding: 0;
    margin:0 ;

}

.thumbnail{
    width:210px;
    height:370px;
    margin: 5px;
    background: #F2F2F2;


 
}

.movie-image{
    width: 270px;
    height: 160px;
}

.movie-container{
    float: left;
    margin-top: 0;


}

.caption{
    font-size: 12px;
}